/* Algemene stylinh */
* {
    box-sizing: border-box;
  }
  body {
    font-family: ProximaNova,Arial,Sans-serif;
    margin: 0px;
    padding: 50px;
  }
  .FloatHeader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 80px;
    background-color: rgb(112,116,132);
  }
  .FloatHeaderLogo {
    width: 80px;
    display: inline-block;
  }
  .FloatHeaderLogo img {
    width: 60px;
    margin: 10px;
  }
  .FloatHeaderMenu {
    float: right;
  }
  .FloatHeaderMenu a {
    text-decoration: none;
    color: white;
    line-height: 80px;
    font-size: 22px;
    font-weight: lighter;
    padding-right: 20px;
  }
  h1 {
    color: rgb(112,116,132);
    font-weight: lighter;
    font-size: 85px;
    text-align: left;
  }
  .ExtraBigBox {
    background-color: rgba(252,148,50,255);
    height: 1000px;
  }
  footer {
    background-color: rgb(75, 75, 75);
    padding: 10px 20px;
  }
  footer p {
    text-align: center;
    color: white;
  }
  @media (max-width: 768px) {
    /* Mobiele stijlen */
    .container {
        width: 100%;
        padding: 10px;
    }
}
  